.flagImage {
    margin-right: 10px;
    margin-left: 10px;
    width: 40px;
    height: 40px;
  }

  .flagContainer{
    position: fixed;
    top: 5%;
    left: 90%;
    transform: translate(-50%, -50%);
  }